/* paragraphs */
p.attr_descript{
	margin-left: 5%;
}

/*div.Pyth_Ext{
	margin-left: 20px;
}*/

header{
	background-color: black;
}

h3.Par_Section{
	background-color: grey;
}

span.Par_Label{
	color: grey;
}

span.Par_Name{
	background-color: grey;
}

span.attr_label{
	color:  grey;
}